<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="page navbar-header">
                Availabel organ
            </h3>
            <div class="list-group">
                <a href="#" class="list-group-item active">kidney</a>
                <a href="#" class="list-group-item">eyes</a>
                <a href="#" class="list-group-item">tissue</a>
                <a href="#" class="list-group-item active">kidney</a>
                <a href="#" class="list-group-item">eyes</a>
                <a href="#" class="list-group-item">tissue</a>
              </div>
              < class="col-sm-9">
                <h1 class="text-center">AdminLogin Here</h1>

                <form>
                    <div class="form-group">
                        <label for="emailid">Email ID:</label>
                        <input type="email" class="form-control" id="emailid" name="emailid">
                      </div>
                      <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                      </div>
                      <button type="submit" class="btn-btn-primary">Submit</button>
                    </form>
            </div>
            